.background_container {
    -fx-background-color : white;
    -fx-alignment: center;
    -fx-font-family: "Cooper Black";
}
.topContainer{
    -fx-background-color : #132A12;
    -fx-alignment: center;
}
.search_box_Button{
    -fx-background-color: white;
    -fx-text-fill: #132A13;
    -fx-font-size: 1em;
    -fx-pref-height: 37;
}
.search_box_Button:hover{
    -fx-cursor: hand;
}
.erreur{
    -fx-text-fill: #c85660;
    -fx-font-size: 0.75em;
}

