
.background_container {
    -fx-background-color : white;
    -fx-alignment: center;
    -fx-font-family: "Cooper Black";
}

.background_container_box{
    -fx-background-radius: 10 10 10 10;
}
.background_second_container{
    -fx-background-image: url('../Images/dream_picture.jpeg');
    -fx-background-size: cover;
    -fx-text-fill: white;
    -fx-font-size: 3em;
    -fx-spacing: 20;
}
.search_box_Button{
    -fx-background-color: white;
    -fx-text-fill: #132A13;
    -fx-font-size: 1em;
    -fx-pref-height: 37;
}
.search_box_Button:hover{
    -fx-cursor: hand;
}
.text_image{
    -fx-font-size: 1.5em;
}
.text_white{
    -fx-stroke: #132A13;
    -fx-stroke-width: 0.5px;
}
.text_green{
    -fx-stroke: white;
    -fx-stroke-width: 0.5px;
}
.research_box{
    -fx-background-color: #132A13 ;
    -fx-background-radius: 10 10 10 10;
    -fx-alignment: center;
    -fx-font-family: "Cooper Black";
    -fx-spacing: 18;
    -fx-padding: 0.75em;
}
.search_box{
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-text-fill: white;
    -fx-pref-height: 50;
    -fx-pref-width: 400;
    -fx-spacing: 0.5em;
}
.search_box_last{
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-text-fill: white;
    -fx-pref-height: 20;
    -fx-pref-width: 200;
    -fx-spacing: 0.5em;
}
